
 #container{width:1500px;
            height:2000px;
            background-color:;
            background-image:url("image.jpg");
            background-position:center;
            height:1500px;
            background-repeat:no-repet;
            background-size:cover;}
     

#header{width:1360px;
    height:60px;
    margin-left:70px;  
    margin-top:80px;
    background-color:blue;}


  #left{width:30px;
        height:1500;margin-left:80px;
        background-color:red;}
  
  
  #right{width:30px; 
         height:1500px;margin-right:80px;
         background-color:aqua;
         float:right;}       
  
  
  #footer{width:1360px;
          height:60px;
          margin-top:0px;margin-left:70px;
          background-color:yellow;}
 
  ul{padding-top:16px;
     padding-left:150px;}
         
 
  ul li{display:inline;
        background-color:00AABB;
        padding-right:20px; 
        padding-left:20px;}

  a{text-decoration:none;}

 a:hover{text-decoration:underline;}
                
 button{background-color:blue;
        font-size:20px; padding-left:20px;
        margin-right:50px; padding-right:20px; }

  a{font-size:20px;}

  form{padding-left:1100px;
       padding-bottom:50px;}

   img.headericon{float:25px;}