
hr { 
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    border-style: solid;
    border-width: 4px;
    border-color:#1E90FF;
    padding-right:1500px;
    position:absolute;
} 

 #container{width:1500px;
            height:1800px;
            background-color:;}
     

#header{width:1360px;
    height:60px;
    margin-left:70px;
    margin-top:100px;
    background-color:blue;}


  #left{width:30px;
        height:1500;margin-left:80px;
        background-color:red;}
  
  
  #right{width:30px; 
         height:1500px;margin-right:80px;
         background-color:aqua;
         float:right;}       
  
  
  #footer{width:1360px;
          height:60px;
          margin-left:70px;
          background-color:yellow;}
 
  ul{padding-top:16px;
     padding-left:150px;}
         
 
  ul li{display:inline;
        background-color:00AABB;
        padding-right:20px; 
        padding-left:20px;}

  a{text-decoration:none;}

 a:hover{text-decoration:underline;}
                
 button{background-color:blue;
        font-size:20px; padding-left:20px;
        margin-right:50px; padding-right:20px; }

  a{font-size:20px;}

  form{padding-left:1100px;
       padding-bottom:50px;}

   